.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #ffffff;
    .v-pagination__item--is-active{
        button{
            background-color: #c20000 !important;
        }
    }

}